body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(307deg, #042c54 1.59%, #9c5601 99.14%);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100vw;
    background: #FF8B02;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-proposal-board {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #0000009b;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-proposal-board.open {
    display: flex;
}

.modal {
    width: 80%;
    max-width: 520px;
    max-height: 900px;
    background-color: #ffffff97;
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 0.4em;
    border-radius: 20px;
    color: #000;
}

.close {
    position: absolute;
    top: -0.8em;
    right: -0.8em;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    border: 0;
    background-color: #FF8B02;
    color:#FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
}

/* @keyframes fadeInUp {
    0% {
    transform: translateY(100%);
    opacity: 0;
    }
    100% {
    transform: translateY(0%);
    opacity: 1;
    }
}

.more-info {
    animation: 1.5s fadeInUp;
} */

@media screen and (max-width: 900px) {

    header {
        margin-top: 25%;
        margin-bottom: 20%;
    }

    .logo-chapa {
        width: 150px;
        height: 150px;
    }

    .text-header{  
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 29px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px #FF8B02;

    }

    .line {

        width: 80%;
        height: 0px;
        border-radius: 60px;
        border: 6px solid #D9D9D9;
        transform: rotate(-0.17deg);

    }

    .more-info {
        width: 60%;
        height: 3rem;
        background: #FF8B02;
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20%;
    }

    .more-info-span {
        margin-right: 2.5%;
    }

    .more-info-p {
        font-style: normal;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 29px;
        color: #FFFFFF;

    }

    .down-arrow {
        width: 1.8rem;
        height: 1.8rem;
    }

    h3 {
        margin: 0;
    }

    .proposal-board {

        width: 88%;
        background: #022E53;
        border-radius: 20px;
        margin-bottom: 20%;
        padding: 5%  2% 5% 2%;
    }

    .btn {
        background-color: #fff7e6; /* Laranja claro suave */
        color: #d35400; /* Laranja escuro para contraste */
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.2em 0.5em;
        border: 2px solid #d35400; /* Bordas definidas no tom do texto */
        border-radius: 12px; /* Bordas levemente arredondadas */
        cursor: pointer;
        transition: all 0.3s ease; /* Transição suave para hover */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
      }     

    .proposal {
        text-align: center;
        color: #FFFFFF;
        margin-top: 10%;
    }

    .proposal h3 {
        font-size: 1.6em;
        color: #FF8B02;
    }

    .subtitle-board {
        width: 88%;
        height: 2em;
        background: #FFFFFF;
        border-radius: 60px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-subtitle-board {
        text-align: center;
    }

    .more-person-info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 2.8rem;
        font-style: normal;
        font-weight: 700;
        font-size: 1.45rem;
        line-height: 29px;
        color: #FFFFFF;
        margin-right: auto;
        margin-left: auto;
        background: #FF8B02;
        border-radius: 60px;
        margin-bottom: 10%;
    }

    /* animation */
    /* .more-person-info {
        view-timeline: --subjectReveal block;
        animation-timeline: --subjectReveal;
      
        animation-name: appear;
        animation-range: entry 10% contain 25%;
        animation-fill-mode: both;
        animation-duration: 1ms;
      } */
      
      /* @keyframes appear {
        from {
          opacity: 0;
          transform: scaleX(0);
        }
      
        to {
          opacity: 1;
          transform: scaleX(1);
        }
      } */

    .person-info-span {
        margin: 0;
        margin-right: 2%;
    }

    .person-info-p{
        margin: 0;
    }

    .people {
        display: flex;
        align-items: center;
        color:#FFFFFF;
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 13%;
        font-size: 0.9em;
    }

    .person2, .person4 {
        text-align: end;
    }

    .span-person135 {
        margin-left: 3%;
    }

    .span-person24 {
        margin-right: 3%;
    }

    .picture {
        width: 6rem;
        height: 6rem;
    }

    .question {
        width: 2.2rem;
        height: 2.2rem;
    }

    .iconInstagram {
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .iconGmail {
        width: 3.5rem;
        height: 3.5rem;
        margin-bottom: 4%;
    }

    


}




/* .color1 { #fb8b04 };
.color2 { #fcc27c };
.color3 { #042c54 };
.color4 { #ae7e64 };
.color5 { #bcc5cb }; */

/* Unidos pela odontologia */




/* Unidos pela odontologia */

